.--dashboard-container {
  height: 100vh;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  position: relative;

  .--wrapper-main{
    padding: 1em;
  }

  .--wrapper {
    width: 768px;
    max-width: 768px; 
    height: auto;
  }
  @media screen and (max-device-width: 768px) {
    .--wrapper {
      width: 420px;
      height: fit-content;
    }
    
  }
  @media screen and (max-device-width: 425px) {
    .--wrapper {
      width: 280px;
      height: fit-content;
    }
    
  }

  .--btn {
    padding: 1rem;
    transition-duration: 0.4s;
    border: 2px solid red;
    border-radius: 4em;
    cursor: pointer;
  }
  .--btn--container {
    display: block;
  }
  .--background {
    background-color: white;
    color: black;
  }
  .--btnStyle {
    font-size: 1rem;
  }

  .--background:hover {
    border: 2px solid White;
    background-color: #ed5e93;
    color: white;
  }
}
// @media screen and (max-device-width: 768px) {
//   .--dashboard-container {
//     width: fit-content;
//     height: auto;
//   }}